
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node+EJS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        body{
            padding-top: 50px;

        }
        nav{
            background-color: rgba(88, 88, 88, 0.116);
        }
        main{
            background-color: rgba(128, 128, 128, 0.055);
        }
        ul li{
            list-style: none;
            color: rgb(140, 0, 168);
        }

    </style>
</head>